@{
    ViewBag.Title = "Home Page";
}

<h1>Employee Manager</h1>
<h3>Week 13 Updates</h3>
<p>Updated the API project to create REST services for getting a list of all employees, and also a single employee by EmployeeId. Tested in Postman. Error page to come, having some issues with that because the MVC folders that were put in place for ASP.Net Identity in the Web project use the HandleError action filter, which I can't figure out how to get rid of.</p>