@{
    ViewBag.Title = "Home Page";
}

<h1>Index</h1>
<p>Added ASP.Net Identity this week, and the individual views relating to the Employees should be inaccessible when not logged in (takes you to the login page instead.  
    The navbar also changes to remove those links if you're not logged in.</p>